.bubble-grid {
  text-align: center;
  justify-content: center;
  margin: .25rem .5rem;
  .cell {
    display: flex;
    justify-content: center;
    margin: .75rem .5rem;
  }
  .bubble-item {
    color: $white;
    @include box(15rem, $circle: true);
    border: 1px solid lighten($color-primary-content, 50%);
    overflow: hidden;
    position: relative;
    margin: 0 auto;
  }
  a.bubble-link {
    color: $color-primary-content;
    text-decoration: none;
    &:hover .bubble-text, &:focus .bubble-text {
      font-weight: 400;
      color: $color-primary-content;
      text-decoration: none;
    }
    &:hover .bubble, &:focus .bubble {
      opacity:.7;
    }
  }
  .bubble {
    overflow: hidden;
    margin: 0 auto;
    height: 15rem;
  }
  .link.cell {
    border-radius: 0;
    height: auto;
  }
  .bubble-text {
    position: relative;
    top: -155px;
    left: 0;
    color: $color-primary-content;
    font-size: .875rem;
    line-height:1.64;
    text-transform: uppercase;
    padding:.75rem 0 1rem;
    min-height: 74px;
    background-color: rgba($pure-white, .85);
  }
  a[href*="//"]:after {
    display: none;
  }
}
