// File contains CSS for the Parent Org Title, Audience Menu, and Site-Top Search Bar.
// The Site-Top Search Bar & Audience Menu CSS in here is for primarily Desktop Views. For Mobile views, look in the 'primary_navigation.scss' file.
// -------------------------------------------
//@include breakpoint(medium) {
//  #block-organizationname {
//  align-self: baseline;
//  }
//}
form#audience-search-form {
  button {
    text-transform: uppercase;
    padding: 01.5em 2em;
    font-size: .6rem;
  }
}
.accordion-menu .is-accordion-submenu {
  a {
    padding: 0.7rem 1rem 0.7rem 1.3rem;
  }
  .is-accordion-submenu {
    a {
    padding-left: 1.6rem;
    }
    .is-accordion-submenu {
      a {
        padding-left: 1.9rem;
      }
      .is-accordion-submenu {
        a {
          padding-left: 2.1rem;
        }
      }
    }
  }
}
.audience-container {
  position: relative;
  line-height: normal;
  height: 40px;
  background-color: #234674;
  &::after {
    width:100%;
    display: block;
    box-shadow: 0 1px 3px 1px;
    content: '';
  }
  button.mobile-menu-expander {
    font-size: 2rem;
    height: 39px;
    width: 39px;
    padding: 0;
    margin: 0;
    position: relative;
    right: -10px;
  }
  button.mobile-menu-expander-clicked {
    @extend button.mobile-menu-expander;
    background-color: $link-red;
    &.mdi-menu {
      &:before {
        content: '\f156';
          color: white;
      }
    }
  }
  .audience-menu-bar {
    height: 40px;
  .org-name {
      align-self: center;
      @media screen and #{breakpoint(medium)} {
        align-self: flex-start;
      }
    }
  }

  @media screen and #{breakpoint(medium)} {
    background-color: transparent;
    padding: inherit;
    box-shadow: none;
    border-bottom: 1px solid #c6c6c6;
    &::after { 
      box-shadow: none;
    }
  };

  .parent-org-title {
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 400;
    letter-spacing: -0.01px;
    line-height: 1;
    display: inline-block;
    max-width: 100%;
    padding: 8px 0;
    margin: 0;
    a {
      color: $white;
      &::after {
        content: "";
        padding-left: 0;
      }
    }
    @media screen and #{breakpoint(medium)} {
      -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
      transform: translateY(50%);
      font-size: 1rem;
      font-weight: inherit;
      padding: 0;
      a {
        color: $parent-org-color;
        letter-spacing: 0;
        &:hover {
          border-bottom: 1px dotted;
        }
      }
    }
  }
  .audience-links {
    background-color: $audience-menu-background;
    .audience-button {
      a {
        font-weight: 600;
        font-size: 0.685rem;
        letter-spacing: 0.0375rem;
        font-family: $avenir;
        text-transform: uppercase;
        color: $alternate;
      }
      > a {
        padding:15px 30px 13px 0 !important;
        &::after {
          right: 12px !important;
          padding-right: 0;
          content: "" !important;
          border-color: $alternate transparent transparent !important;
        }
      }

      ul {
        background-color: $audience-menu-background;
        border: 1px solid $audience-menu-border;
        border-radius: 2px;
        border-bottom: none;
        font-size: 1rem;
        box-shadow: 1px 1px 4px $audience-menu-shadow;
        @media screen and #{breakpoint(medium)} {
          li {
            border-bottom: 1px solid $audience-menu-border;
            background-color: $gray3;
            ul.is-dropdown-submenu {
              top: 20px;
            }
          }
        }

        a {
          padding: 14px 7px 14px 14px; //!important;
          color: $audience-menu-link;
          position: relative;
          &:hover {
            background-color: $audience-menu-link-hover-bg;
          }
        }
      }
      .is-dropdown-submenu .is-dropdown-submenu-parent.opens-right>a::after {
        border-color: transparent transparent transparent $gray6;
      }
      .is-dropdown-submenu .is-dropdown-submenu-parent.opens-left {
        a {
          padding-left: 21px;
        }
        >a::after {
          border-color: transparent $gray6 transparent transparent;
        }
      }
    }
  }
  .google-search {
    border-left: 1px solid $audience-border;
    height: 100%;
    overflow: hidden;
    input {
      margin:0;
      padding:0 0 0 16px;
      border-radius: 0;
      border: none;
      box-shadow: none;
      background-color: transparent;
      min-width: 195px;
      max-width: 100%;
      background: url("../images/google-search-top.png") no-repeat;
      background-position: 50% 50%;

      &:focus {
        outline: none;
        border: none;
        box-shadow: none;
        background: none;
      }

      &::placeholder {
        opacity: 1;
        position: relative;
        border: none;
        box-shadow: none;
        margin-bottom: 0;
      }

      @-moz-document url-prefix() {
        &::placeholder {
          left: -14px;
        }
      }

      &:focus::placeholder {
        background-image: none;
      }
    }
  }
}
