// File contains CSS for the primary content column within the main content area.
// -------------------------------------------
.primary-content-area {
  .general-menu {
    background-color: white;
    border-top: 5px solid $color-picton-blue;
    padding-bottom: 32px;
    @media screen and #{breakpoint(medium)} {
      padding-bottom: 64px;
    }
    h2 {
      font-family: "Trade Gothic Next W01", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      font-size: 1.45rem; // 24px
      font-weight: 400;
      color: $gray6;
      line-height: 2rem; // 32px;
      text-align: center;
      border-bottom: 1px solid lighten($color-primary-content, 22%);
      padding: 16px 0 18px 0;
      margin: 0;
    }
    ul {
      &.menu {
        &.vertical {
          li {
            a {
              font-weight: bold;
              border-bottom: 1px solid lighten($color-primary-content, 22%);
              text-decoration: none;
              color: $color-primary-content;
              padding: 16px 24px;
              &::after {
                content: "\F13E";
                display: inline-block;
                font: normal normal normal 24px/1 "Material Design Icons";
                font-size: 24px;
                line-height: 1;
                font-size: inherit;
                text-rendering: auto;
                line-height: inherit;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                padding-left: 4px;
              }
              &:hover {
                color: $color-picton-blue-alt;
              }
            }
            ul {
              &.menu {
                &.submenu {
                  li {
                    a {
                      padding-left: 40px;
                      &::before {
                        content: "\F130";
                        display: inline-block;
                        font: normal normal normal 8px/1 "Material Design Icons";
                        text-rendering: auto;
                        line-height: inherit;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        padding-right: 8px;
                        margin-bottom: 3px;
                        vertical-align: middle;
                      }
                    }
                    ul {
                      &.menu {
                        &.submenu {
                          li {
                            a {
                              padding-left: 56px;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }

          }
        }
      }
    }
  }
}