{% block content %}
    <section class="google-search" role="search">
        <form id="audience-search-form" action="https://www.ucr.edu/search.php">
            <label class="show-for-sr" for="audience-search">Search for:</label>
            <input type="text" maxlength="255" id="audience-search" name="q" value="" placeholder=" " />
            <button type="submit" class="button show-for-small-only" value="">Search</button>
        </form>
    </section>
{% endblock %}
