{% block content %}
<section class="google-search">
    <form action="https://www.ucr.edu/search.php">
        <label class="show-for-sr" for="footer-search">Search for:</label>
        <input type="text" maxlength="255" id="footer-search" name="q" value="" placeholder=" " />
    </form>
</section>
{% endblock %}