{% block content %}
    <h3>Newsletter</h3>
    <p>Sign up for our monthly newsletter.</p>
    <form>
        <label class="show-for-sr" for="footer-newsletter">E-mail address:</label>
        <input type="text" id="footer-newsletter">
    </form>
{% endblock %}
