{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <div class="grid-container full">
        <div class="grid-x breadcrumb-container">
            <div class="shrink cell breadcrumb-home">
                <a href="/"><span class="mdi mdi-home breadcrumb-home-icon"></span></a>
            </div>
            <div class="auto cell breadcrumb-list">
                <nav role="navigation" aria-labelledby="system-breadcrumb">
                    <ul class="breadcrumbs">
                        {% for item in breadcrumb %}
                            {% if loop.first == false %}
                                <li>
                                    {% if item.url %}
                                        <a href="{{ item.url }}">{{ item.text }}</a>
                                    {% else %}
                                        <span>{{ item.text }}</span>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endif %}
