{#
/**
 * @file
 * Default theme implementation to display a block of Alma calendar records on the site homepage.
 *
 * Available variables:
 *   - records
 *
 * @ingroup themeable
 */
#}

<div class="info-box">
    <h2>Today's library hours</h2>
    <div class="hr-theme-slash">
        <div class="hr-line"></div>
        <div class="hr-icon">
            <i class="fa fa-calendar"></i>
        </div>
        <div class="hr-line"></div>
    </div>
    <div class="row p-2">
        <div class="col-md-12">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Tomás Rivera Library</li>
                <li class="list-group-item">Orbach Science Library</li>
                <li class="list-group-item">Music Library</li>
                <li class="list-group-item">Special Collections &amp; University Archives</li>
            </ul>
        </div>
    </div>
</div>