{#
/**
 * @file
 * Default theme implementation to display an indicator if the library is open
 *
 * Available variables:
 *   - library_code
 *
 * @ingroup themeable
 */
#}

<p>Hours block in the house</p>
