<main role="main" id="main-content" class=":container(width>=26rem)">
  <div class="content">
    <div class="section">
      <div class="row">
        <div class="column small-12">
          <div class="module">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
