<div class="column small-12 small-order-2 medium-order-1">
  <div class="row audience collapse align-middle">
    <!-- inject a block here -->
    {{ content }}
    <!-- end the block -->
  </div>
</div>
