<div class="federated-search">
    <h2>Search the UCR Library</h2>
    <form>
        <button>
            <i class="fa fa-search"></i>
        </button>
        <input type="text" placeholder="Find books, articles, events, media, and more...">

    </form>
    <div class="text-right mt-2">
        <p>
            <a href="#">Advanced catalog search</a>
        </p>
    </div>
</div>
<hr/>