<div class="federated-search info-box">
    <h2>Search the UCR Library</h2>
    <form>
        <input type="text" placeholder="Find books, articles, events, media, and more...">
        <button>
            <i class="fa fa-search"></i>
        </button>
    </form>
    <div class="text-right mt-2">
        <p>
            <a href="#">Advanced catalog search</a>
        </p>
    </div>
</div>
<hr/>