@font-face{
    font-family:"Adelle W01_n3";
    src:url("../fonts/498b62bf-272a-424f-8438-963e84290a7b.eot?#iefix") format("eot")
  }
  @font-face{
    font-family:"Adelle W01";
    src:url("../fonts/498b62bf-272a-424f-8438-963e84290a7b.eot?#iefix");
    src:url("../fonts/498b62bf-272a-424f-8438-963e84290a7b.eot?#iefix") format("eot"),url("../fonts/18f5d154-3a7a-495c-bc3e-4f61b9e1ead1.woff2") format("woff2"),url("../fonts/747b7cce-295f-4e39-903b-5858af155c13.woff") format("woff"),url("../fonts/d1367539-252f-43f2-b898-5585bcee553d.ttf") format("truetype"),url("../fonts/4a93e3f0-a4a0-48bb-a0ac-56b7d14dc1a2.svg#4a93e3f0-a4a0-48bb-a0ac-56b7d14dc1a2") format("svg");
    font-weight: 300;
    font-style: normal;
  }
  @font-face{
    font-family:"Adelle W01_i3";
    src:url("../fonts/bc714449-63c7-400e-a289-1c6604dd49e8.eot?#iefix") format("eot")
  }
  @font-face{
    font-family:"Adelle W01";
    src:url("../fonts/bc714449-63c7-400e-a289-1c6604dd49e8.eot?#iefix");
    src:url("../fonts/bc714449-63c7-400e-a289-1c6604dd49e8.eot?#iefix") format("eot"),url("../fonts/55c644fd-2b0e-407c-a7b2-d3c60c9bf128.woff2") format("woff2"),url("../fonts/18a324fe-d364-4d8f-aab5-9e81fa1b520c.woff") format("woff"),url("../fonts/a7a2f85c-84d1-4f65-a6e8-c6c36d8232a5.ttf") format("truetype"),url("../fonts/6d5c8a96-bee5-4352-b588-298973002deb.svg#6d5c8a96-bee5-4352-b588-298973002deb") format("svg");
    font-weight: 300;
    font-style: italic;
  }
  @font-face{
    font-family:"Adelle W01_n4";
    src:url("../fonts/e800d24d-133b-4293-a15b-611f67139c09.eot?#iefix") format("eot")
  }
  @font-face{
    font-family:"Adelle W01";
    src:url("../fonts/e800d24d-133b-4293-a15b-611f67139c09.eot?#iefix");
    src:url("../fonts/e800d24d-133b-4293-a15b-611f67139c09.eot?#iefix") format("eot"),url("../fonts/f5ebba9f-e1ef-4756-9f7a-d428f532e4cd.woff2") format("woff2"),url("../fonts/89fe91e2-46a0-4e3b-8735-78b3de8da38f.woff") format("woff"),url("../fonts/152fa65e-e42f-431d-a37f-a66d10903310.ttf") format("truetype"),url("../fonts/6ad1d18a-0166-4178-812f-07e16b64000b.svg#6ad1d18a-0166-4178-812f-07e16b64000b") format("svg");
    font-weight: 400;
    font-style: normal;
  }
  @font-face{
    font-family:"Adelle W01_i4";
    src:url("../fonts/1a1c1f39-8512-4715-976c-6062108d7dfe.eot?#iefix") format("eot")
  }
  @font-face{
    font-family:"Adelle W01";
    src:url("../fonts/1a1c1f39-8512-4715-976c-6062108d7dfe.eot?#iefix");
    src:url("../fonts/1a1c1f39-8512-4715-976c-6062108d7dfe.eot?#iefix") format("eot"),url("../fonts/a10072b3-e7a8-4ea9-bd44-d4aec6a09457.woff2") format("woff2"),url("../fonts/e66b90fd-f201-4525-b5ee-8a854221367c.woff") format("woff"),url("../fonts/6d7b9fc4-60ad-4c03-92a4-48444579beb2.ttf") format("truetype"),url("../fonts/b517960a-2dcd-4827-8a2c-c62681d34342.svg#b517960a-2dcd-4827-8a2c-c62681d34342") format("svg");
    font-weight: 400;
    font-style: italic;
  }
  @font-face{
    font-family:"Adelle W01_n7";
    src:url("../fonts/51f4be3b-9293-44bc-baf2-f0663ce40eac.eot?#iefix") format("eot")
  }
  @font-face{
    font-family:"Adelle W01";
    src:url("../fonts/51f4be3b-9293-44bc-baf2-f0663ce40eac.eot?#iefix");
    src:url("../fonts/51f4be3b-9293-44bc-baf2-f0663ce40eac.eot?#iefix") format("eot"),url("../fonts/a819b94d-02b4-490f-a50e-3d2341dbe1d6.woff2") format("woff2"),url("../fonts/643fcd9d-f9b1-4f47-a110-c713cb07cd7b.woff") format("woff"),url("../fonts/5bf8f2b2-84f8-432d-ba12-ad87271d929d.ttf") format("truetype"),url("../fonts/f0f4d2d3-35c7-4435-8638-114d75943f51.svg#f0f4d2d3-35c7-4435-8638-114d75943f51") format("svg");
    font-weight: 700;
    font-style: normal;
  }
  @font-face{
    font-family:"Adelle W01_i7";
    src:url("../fonts/e90e7dc9-2652-434d-aa93-0bc0374ebe69.eot?#iefix") format("eot")
  }
  @font-face{
    font-family:"Adelle W01";
    src:url("../fonts/e90e7dc9-2652-434d-aa93-0bc0374ebe69.eot?#iefix");
    src:url("../fonts/e90e7dc9-2652-434d-aa93-0bc0374ebe69.eot?#iefix") format("eot"),url("../fonts/d16c4ee9-db09-4bf3-987d-57c496ecbb5b.woff2") format("woff2"),url("../fonts/f61bd8c5-1229-4701-85eb-353ad21be6a3.woff") format("woff"),url("../fonts/23fe9455-8651-48e4-a7d1-13b2c148c4c3.ttf") format("truetype"),url("../fonts/852ad3e8-3c81-48c7-af31-4c57e268cd8c.svg#852ad3e8-3c81-48c7-af31-4c57e268cd8c") format("svg");
    font-weight: 700;
    font-style: italic;
  }
  @font-face{
    font-family:"Adelle W01_n8";
    src:url("../fonts/6af143fa-5aee-4874-b96d-9b391a6d14c4.eot?#iefix") format("eot")
  }
  @font-face{
    font-family:"Adelle W01";
    src:url("../fonts/6af143fa-5aee-4874-b96d-9b391a6d14c4.eot?#iefix");
    src:url("../fonts/6af143fa-5aee-4874-b96d-9b391a6d14c4.eot?#iefix") format("eot"),url("../fonts/0b9c7e89-12e4-4ff0-82ae-5f35b8fc5e17.woff2") format("woff2"),url("../fonts/a06ea8d7-941e-4ed8-9580-003a73482a3a.woff") format("woff"),url("../fonts/ca8577fb-821f-4279-848c-4e5837de78ee.ttf") format("truetype"),url("../fonts/187c639a-6e7b-4ced-aa01-50afd63a67c7.svg#187c639a-6e7b-4ced-aa01-50afd63a67c7") format("svg");
    font-weight: 800;
    font-style: normal;
  }
  @font-face{
    font-family:"Adelle W01_i8";
    src:url("../fonts/02bd2f59-a2f4-4408-8706-118735aa2916.eot?#iefix") format("eot")
  }
  @font-face{
    font-family:"Adelle W01";
    src:url("../fonts/02bd2f59-a2f4-4408-8706-118735aa2916.eot?#iefix");
    src:url("../fonts/02bd2f59-a2f4-4408-8706-118735aa2916.eot?#iefix") format("eot"),url("../fonts/ece1c8c9-f347-40cc-a239-7ed2a212af67.woff2") format("woff2"),url("../fonts/a5aa1a5a-9412-4f9f-b0b7-df9e17bf8d15.woff") format("woff"),url("../fonts/5ee04577-9a12-4c5b-b3b5-7e8d0a8a8c56.ttf") format("truetype"),url("../fonts/ac711108-6330-4951-bee1-e946de7726ce.svg#ac711108-6330-4951-bee1-e946de7726ce") format("svg");
    font-weight: 800;
    font-style: italic;
  }
  @font-face{
    font-family:"Avenir Next W01_n3";
    src:url("../fonts/0ecef829-586e-426d-a633-4c8a8c926769.eot?#iefix") format("eot")
  }
  @font-face{
    font-family:"Avenir Next W01";
    src:url("../fonts/0ecef829-586e-426d-a633-4c8a8c926769.eot?#iefix");
    src:url("../fonts/0ecef829-586e-426d-a633-4c8a8c926769.eot?#iefix") format("eot"),url("../fonts/49c5f3e1-5867-4b1d-a843-2d07fa60d85d.woff2") format("woff2"),url("../fonts/f401df6f-54eb-406c-b46a-90b9451c598d.woff") format("woff"),url("../fonts/276fe25e-e430-4376-b33c-705dd77b3dba.ttf") format("truetype"),url("../fonts/869dc33b-3685-4d74-a51c-82b435579093.svg#869dc33b-3685-4d74-a51c-82b435579093") format("svg");
    font-weight: 300;
    font-style: normal;
  }
  @font-face{
    font-family:"Avenir Next W01_i3";
    src:url("../fonts/440b64c9-a97b-4a0c-a6af-a6bb6d49c252.eot?#iefix") format("eot")
  }
  @font-face{
    font-family:"Avenir Next W01";
    src:url("../fonts/440b64c9-a97b-4a0c-a6af-a6bb6d49c252.eot?#iefix");
    src:url("../fonts/440b64c9-a97b-4a0c-a6af-a6bb6d49c252.eot?#iefix") format("eot"),url("../fonts/62e28d52-436d-40b8-a5f0-00479f3f44ed.woff2") format("woff2"),url("../fonts/5b8c6fdc-0ba4-4b65-87e4-d5ae51245ea5.woff") format("woff"),url("../fonts/c677d79d-442e-4c76-8db1-c29ac7788039.ttf") format("truetype"),url("../fonts/216291a0-f927-4f75-9de7-6e36c7fd7ebf.svg#216291a0-f927-4f75-9de7-6e36c7fd7ebf") format("svg");
    font-weight: 300;
    font-style: italic;
  }
  @font-face{
    font-family:"Avenir Next W01_n4";
    src:url("../fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix") format("eot")
  }
  @font-face{
    font-family:"Avenir Next W01";
    src:url("../fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix");
    src:url("../fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix") format("eot"),url("../fonts/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2") format("woff2"),url("../fonts/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff"),url("../fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf") format("truetype"),url("../fonts/52a192b1-bea5-4b48-879f-107f009b666f.svg#52a192b1-bea5-4b48-879f-107f009b666f") format("svg");
    font-weight: 400;
    font-style: normal;
  }
  @font-face{
    font-family:"Avenir Next W01_i4";
    src:url("../fonts/d1fddef1-d940-4904-8f6c-17e809462301.eot?#iefix") format("eot")
  }
  @font-face{
    font-family:"Avenir Next W01";
    src:url("../fonts/d1fddef1-d940-4904-8f6c-17e809462301.eot?#iefix");
    src:url("../fonts/d1fddef1-d940-4904-8f6c-17e809462301.eot?#iefix") format("eot"),url("../fonts/7377dbe6-f11a-4a05-b33c-bc8ce1f60f84.woff2") format("woff2"),url("../fonts/92b66dbd-4201-4ac2-a605-4d4ffc8705cc.woff") format("woff"),url("../fonts/18839597-afa8-4f0b-9abb-4a30262d0da8.ttf") format("truetype"),url("../fonts/1de7e6f4-9d4d-47e7-ab23-7d5cf10ab585.svg#1de7e6f4-9d4d-47e7-ab23-7d5cf10ab585") format("svg");
    font-weight: 400;
    font-style: italic;
  }
  @font-face{
    font-family:"Avenir Next W01_n6";
    src:url("../fonts/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix") format("eot")
  }
  @font-face{
    font-family:"Avenir Next W01";
    src:url("../fonts/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix");
    src:url("../fonts/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix") format("eot"),url("../fonts/aad99a1f-7917-4dd6-bbb5-b07cedbff64f.woff2") format("woff2"),url("../fonts/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff") format("woff"),url("../fonts/a0f4c2f9-8a42-4786-ad00-fce42b57b148.ttf") format("truetype"),url("../fonts/99affa9a-a5e9-4559-bd07-20cf0071852d.svg#99affa9a-a5e9-4559-bd07-20cf0071852d") format("svg");
    font-weight: 600;
    font-style: normal;
  }
  @font-face{
    font-family:"Avenir Next W01_i6";
    src:url("../fonts/770d9a7e-8842-4376-9319-8f2c8b8e880d.eot?#iefix") format("eot")
  }
  @font-face{
    font-family:"Avenir Next W01";
    src:url("../fonts/770d9a7e-8842-4376-9319-8f2c8b8e880d.eot?#iefix");
    src:url("../fonts/770d9a7e-8842-4376-9319-8f2c8b8e880d.eot?#iefix") format("eot"),url("../fonts/687932cb-145b-4690-a21d-ed1243db9e36.woff2") format("woff2"),url("../fonts/bc350df4-3100-4ce1-84ce-4a5363dbccfa.woff") format("woff"),url("../fonts/bc13ae80-cd05-42b4-b2a9-c123259cb166.ttf") format("truetype"),url("../fonts/4862b373-2643-46b1-b0b5-88537c52d15c.svg#4862b373-2643-46b1-b0b5-88537c52d15c") format("svg");
    font-weight: 600;
    font-style: italic;
  }
  @font-face{
    font-family:"Avenir Next W01_n7";
    src:url("../fonts/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix") format("eot")
  }
  @font-face{
    font-family:"Avenir Next W01";
    src:url("../fonts/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix");
    src:url("../fonts/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix") format("eot"),url("../fonts/14c73713-e4df-4dba-933b-057feeac8dd1.woff2") format("woff2"),url("../fonts/b8e906a1-f5e8-4bf1-8e80-82c646ca4d5f.woff") format("woff"),url("../fonts/890bd988-5306-43ff-bd4b-922bc5ebdeb4.ttf") format("truetype"),url("../fonts/ed104d8c-7f39-4e8b-90a9-4076be06b857.svg#ed104d8c-7f39-4e8b-90a9-4076be06b857") format("svg");
    font-weight: 700;
    font-style: normal;
  }
  @font-face{
    font-family:"Avenir Next W01_i7";
    src:url("../fonts/ac2d4349-4327-448f-9887-083a6a227a52.eot?#iefix") format("eot")
  }
  @font-face{
    font-family:"Avenir Next W01";
    src:url("../fonts/ac2d4349-4327-448f-9887-083a6a227a52.eot?#iefix");
    src:url("../fonts/ac2d4349-4327-448f-9887-083a6a227a52.eot?#iefix") format("eot"),url("../fonts/eaafcb26-9296-4a57-83e4-4243abc03db7.woff2") format("woff2"),url("../fonts/25e83bf5-47e3-4da7-98b1-755efffb0089.woff") format("woff"),url("../fonts/4112ec87-6ded-438b-83cf-aaff98f7e987.ttf") format("truetype"),url("../fonts/ab1835cb-df6f-4d8d-b8ee-3075f5ba758d.svg#ab1835cb-df6f-4d8d-b8ee-3075f5ba758d") format("svg");
    font-weight: 700;
    font-style: italic;
  }
  @font-face{
    font-family:"Trade Gothic Next W01_n3";
    src:url("../fonts/c22083eb-f768-467a-8736-cd9014be4e4f.eot?#iefix") format("eot")
  }
  @font-face{
    font-family:"Trade Gothic Next W01";
    src:url("../fonts/c22083eb-f768-467a-8736-cd9014be4e4f.eot?#iefix");
    src:url("../fonts/c22083eb-f768-467a-8736-cd9014be4e4f.eot?#iefix") format("eot"),url("../fonts/67ac520d-c9d7-44b3-9b07-91f2a8ef8787.woff2") format("woff2"),url("../fonts/1e25c4c8-80d6-44ba-bc21-51daaa0cd556.woff") format("woff"),url("../fonts/41757792-b783-4a47-9e47-62f4fc3d2ea6.ttf") format("truetype"),url("../fonts/d30fef5b-e7a0-444c-8fbf-629dbf84f4f8.svg#d30fef5b-e7a0-444c-8fbf-629dbf84f4f8") format("svg");
    font-weight: 300;
    font-style: normal;
  }
  @font-face{
    font-family:"Trade Gothic Next W01_i3";
    src:url("../fonts/f2eb748c-88b2-441d-8174-b5f2f62f51b6.eot?#iefix") format("eot")
  }
  @font-face{
    font-family:"Trade Gothic Next W01";
    src:url("../fonts/f2eb748c-88b2-441d-8174-b5f2f62f51b6.eot?#iefix");
    src:url("../fonts/f2eb748c-88b2-441d-8174-b5f2f62f51b6.eot?#iefix") format("eot"),url("../fonts/f494a8b7-3454-438f-ae3e-076dc4297e5c.woff2") format("woff2"),url("../fonts/c9c6ddb3-ece7-4644-9d6c-a5d358d8c150.woff") format("woff"),url("../fonts/39db63bd-1bc5-4585-99c6-0472b14b6787.ttf") format("truetype"),url("../fonts/d14a0bc4-5dcd-48b6-8747-98d111e6ee58.svg#d14a0bc4-5dcd-48b6-8747-98d111e6ee58") format("svg");
    font-weight: 300;
    font-style: italic;
  }
  @font-face{
    font-family:"Trade Gothic Next W01_n4";
    src:url("../fonts/8a6c3750-4927-4649-9dac-87049f5e9700.eot?#iefix") format("eot")
  }
  @font-face{
    font-family:"Trade Gothic Next W01";
    src:url("../fonts/8a6c3750-4927-4649-9dac-87049f5e9700.eot?#iefix");
    src:url("../fonts/8a6c3750-4927-4649-9dac-87049f5e9700.eot?#iefix") format("eot"),url("../fonts/d4eef5b1-2f4a-42d6-ae2d-6220d71243be.woff2") format("woff2"),url("../fonts/57625f96-ca80-4602-9644-ec1803cb3ba3.woff") format("woff"),url("../fonts/6618d500-1727-4334-878e-1c4b95192f42.ttf") format("truetype"),url("../fonts/01ebe944-ca6c-41db-a3ba-b7e2a90536d9.svg#01ebe944-ca6c-41db-a3ba-b7e2a90536d9") format("svg");
    font-weight: 400;
    font-style: normal;
  }
  @font-face{
    font-family:"Trade Gothic Next W01_i4";
    src:url("../fonts/5907bd95-539f-4f25-b115-69c42aee6b21.eot?#iefix") format("eot")
  }
  @font-face{
    font-family:"Trade Gothic Next W01";
    src:url("../fonts/5907bd95-539f-4f25-b115-69c42aee6b21.eot?#iefix");
    src:url("../fonts/5907bd95-539f-4f25-b115-69c42aee6b21.eot?#iefix") format("eot"),url("../fonts/e41c3ce6-57bc-473c-aaf0-9e0e771bf6c8.woff2") format("woff2"),url("../fonts/3bde4253-d238-40b7-b813-eea7bdd9e80d.woff") format("woff"),url("../fonts/6005c161-37f3-4678-869a-1b4306ecc563.ttf") format("truetype"),url("../fonts/1301d16e-d0ec-407b-9796-677535450691.svg#1301d16e-d0ec-407b-9796-677535450691") format("svg");
    font-weight: 400;
    font-style: italic;
  }
  @font-face{
    font-family:"Trade Gothic Next W01_n7";
    src:url("../fonts/678017fc-bfca-4daa-a38a-b0f41bada5e7.eot?#iefix") format("eot")
  }
  @font-face{
    font-family:"Trade Gothic Next W01";
    src:url("../fonts/678017fc-bfca-4daa-a38a-b0f41bada5e7.eot?#iefix");
    src:url("../fonts/678017fc-bfca-4daa-a38a-b0f41bada5e7.eot?#iefix") format("eot"),url("../fonts/b071c6d1-8b3a-4032-9c25-67daff28fae8.woff2") format("woff2"),url("../fonts/4d16ea6c-033a-41b1-8326-56a1d7392d5f.woff") format("woff"),url("../fonts/573b39c2-10f7-4b72-a656-89a329b76560.ttf") format("truetype"),url("../fonts/d079b7e1-7489-4f6d-b4c9-536742085cff.svg#d079b7e1-7489-4f6d-b4c9-536742085cff") format("svg");
    font-weight: 700;
    font-style: normal;
  }
  @font-face{
    font-family:"Trade Gothic Next W01_i7";
    src:url("../fonts/c0134e40-9c97-4d93-a4b9-ccc759b09d6a.eot?#iefix") format("eot")
  }
  @font-face{
    font-family:"Trade Gothic Next W01";
    src:url("../fonts/c0134e40-9c97-4d93-a4b9-ccc759b09d6a.eot?#iefix");
    src:url("../fonts/c0134e40-9c97-4d93-a4b9-ccc759b09d6a.eot?#iefix") format("eot"),url("../fonts/59f68f61-861d-4788-a907-5500a0c616a8.woff2") format("woff2"),url("../fonts/c6e1f03c-b1be-44b3-869a-76dd6d9815cb.woff") format("woff"),url("../fonts/3b57c729-52db-4a4b-b447-051993a48636.ttf") format("truetype"),url("../fonts/b10c45a7-0777-4974-a66e-2cba877baac2.svg#b10c45a7-0777-4974-a66e-2cba877baac2") format("svg");
    font-weight: 700;
    font-style: italic;
  }
  @font-face{
    font-family:"Trade Gothic Next W01_n5";
    src:url("../fonts/5be4a815-5a22-4a8b-8a38-10467be39d2e.eot?#iefix") format("eot")
  }
  @font-face{
    font-family:"Trade Gothic Next W01";
    src:url("../fonts/5be4a815-5a22-4a8b-8a38-10467be39d2e.eot?#iefix");
    src:url("../fonts/5be4a815-5a22-4a8b-8a38-10467be39d2e.eot?#iefix") format("eot"),url("../fonts/a8816340-0294-4243-8519-b2ccf08ca174.woff2") format("woff2"),url("../fonts/eb20bf3e-7a5c-4c98-8bc5-f38c1b3dd9f2.woff") format("woff"),url("../fonts/bbd9ed4b-21d6-4a35-a3eb-176c31258e03.ttf") format("truetype"),url("../fonts/2b33a704-0f65-4c4c-94d0-2bd00c0151af.svg#2b33a704-0f65-4c4c-94d0-2bd00c0151af") format("svg");
    font-weight: 500;
    font-style: normal;
  }
  @font-face{
    font-family:"Trade Gothic Next W01_i5";
    src:url("../fonts/0141efcd-c467-4bd2-829f-4f7e4c4c0fb1.eot?#iefix") format("eot")
  }
  @font-face{
    font-family:"Trade Gothic Next W01";
    src:url("../fonts/0141efcd-c467-4bd2-829f-4f7e4c4c0fb1.eot?#iefix");
    src:url("../fonts/0141efcd-c467-4bd2-829f-4f7e4c4c0fb1.eot?#iefix") format("eot"),url("../fonts/6f8d70e1-0519-4578-b61b-4660e10adcd7.woff2") format("woff2"),url("../fonts/0b4c5dd8-487a-4a92-921f-bff9d2ef800a.woff") format("woff"),url("../fonts/c3901e8a-5844-4034-85be-d9f3a3d5a150.ttf") format("truetype"),url("../fonts/1de3af37-9042-46d5-9605-c8f534732a86.svg#1de3af37-9042-46d5-9605-c8f534732a86") format("svg");
    font-weight: 500;
    font-style: italic;
  }
  @font-face{
    font-family:"Trade Gothic Next W01_n6";
    src:url("../fonts/62cdf702-7113-4955-9b29-d803174650c7.eot?#iefix") format("eot")
  }
  @font-face{
    font-family:"Trade Gothic Next W01";
    src:url("../fonts/62cdf702-7113-4955-9b29-d803174650c7.eot?#iefix");
    src:url("../fonts/62cdf702-7113-4955-9b29-d803174650c7.eot?#iefix") format("eot"),url("../fonts/b559a389-e9a7-4140-80af-cc5f64350983.woff2") format("woff2"),url("../fonts/a43fe47f-004d-4b6d-9a72-23de9e08f66e.woff") format("woff"),url("../fonts/de22c287-e0dc-4287-8a0e-3f68a8788330.ttf") format("truetype"),url("../fonts/d7c320de-0c26-418a-b1d2-ef600169db34.svg#d7c320de-0c26-418a-b1d2-ef600169db34") format("svg");
    font-weight: 600;
    font-style: normal;
  }
  @font-face{
    font-family:"Trade Gothic Next W01_i6";
    src:url("../fonts/f54ff660-2006-4adc-adb4-13705f833857.eot?#iefix") format("eot")
  }
  @font-face{
    font-family:"Trade Gothic Next W01";
    src:url("../fonts/f54ff660-2006-4adc-adb4-13705f833857.eot?#iefix");
    src:url("../fonts/f54ff660-2006-4adc-adb4-13705f833857.eot?#iefix") format("eot"),url("../fonts/fd65fac5-f7ce-4a4b-ac7e-4d234fa01b0c.woff2") format("woff2"),url("../fonts/e66e3237-f0dc-4885-90eb-b71e55d0c057.woff") format("woff"),url("../fonts/e3728264-163f-42ea-8592-565a6ec20b9a.ttf") format("truetype"),url("../fonts/4358bf54-ee4b-47d2-a4b4-0fa43581c3de.svg#4358bf54-ee4b-47d2-a4b4-0fa43581c3de") format("svg");
    font-weight: 600;
    font-style: italic;
  }
  @font-face {
    font-family: "Material Design Icons";
    src: url("../fonts/materialdesignicons-webfont.eot?v=2.0.46");
    src: url("../fonts/materialdesignicons-webfont.eot?#iefix&v=2.0.46") format("embedded-opentype"), url("../fonts/materialdesignicons-webfont.woff2?v=2.0.46") format("woff2"), url("../fonts/materialdesignicons-webfont.woff?v=2.0.46") format("woff"), url("../fonts/materialdesignicons-webfont.ttf?v=2.0.46") format("truetype"), url("../fonts/materialdesignicons-webfont.svg?v=2.0.46#materialdesigniconsregular") format("svg");
    font-weight: normal;
    font-style: normal;
  }