.region-featured-top h2 {
    margin-bottom: 20px;
    font-size: 2.125rem;
    color: #329AF0;
    font-weight: 300;
} 

.info-box h2 {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 1em;
    border-bottom: solid 1px #3f3f3f;
    font-size: 1.1em;
    margin-bottom: 1em;
    color: #3f3f3f;
    font-weight: bold;
    font-family: "Trade Gothic Next W01", "Helvetica Neue", Helvetica, "Roboto", Arial, sans-serif;
} 

.block-eventbrite>h2:before , .block-views-blocknews-block-2>h2:before {
    background: #3AA4DC;
    content: " ";
    display: block;
    height: 5px;
    width: 5rem;
    margin-bottom: .375rem;
    margin-top: 1em;
}

.btn-lg {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.0em;
}

.block-federated-search-block {
  margin-top: 10px;
}

.info-box {
  margin-top: 30px;
}

.federated-search form {
  width: 100%;
  display: inline-flex;
}

.federated-search input {
  height: 80px;
  padding: 5px 95px 5px 20px;
  font-size: 28px;
  width: 100%;
}

.federated-search button {
  height: 80px;
  width: 80px;
  font-size: 28px;
  font-weight: bold;
  border: none;
  color: #fff;
  background-color: #2d6cc0;
}

.info-box {
  padding: 30px 40px 30px 40px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
  border: solid 1px #DBDBDB;
}

.big-link {
  font-size: 16px;
  font-weight: bold;
}

a.big-link {
  color: #4DADF7;
  text-decoration: none; 
}

a.big-link:hover {
  color: #0a7cd4;
  text-decoration: none; 
}

.big-link .fa {
  font-size: 40px;
}

.block-views-blocknews-block-2 {
  padding-right: 40px;
}

