/* Mega width dropdown */
.navbar .dropdown-menu div[class*="col"] {
    margin-bottom: 1rem;
  }
  
  .navbar.bg-primary {
    border: none;
  }
  
  /* breakpoint and up - mega dropdown styles */
  @media screen and (min-width: 992px) {
  
    /* remove the padding from the navbar so the dropdown hover state is not broken */
    .navbar {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  
    .navbar .nav-item {
      padding: .25rem;
    }
  
    .navbar-dark .navbar-nav .nav-link {
      color: #fff;
    }
  
    /* makes the dropdown full width  */
    .navbar .dropdown {
      position: static;
    }
  
    .navbar .dropdown-menu {
      width: 100%;
      left: 0;
      right: 0;
    }
  
    /* shows the dropdown menu on hover */
    .navbar .dropdown:hover .dropdown-menu,
    .navbar .dropdown .dropdown-menu:hover {
      display: block !important;
    }
  
    .navbar .dropdown-menu {
      border: 0;
      background-color: #1b3456;
      opacity: 1;
      border-radius: 0;
      margin: 0;
      top: 50px;
    }
  }
  
  #navbar-main {
    text-transform: uppercase;
  }
  
  #navbar-main a.navlink {
    color: #fff;
  }
  
  #navbar-main .nav-link {
    border-left: solid 1px #86BAFF;
    padding-left: 1em;
    padding-right: 1em;
    line-height: .75em;
    margin-top: .5em;
    margin-bottom: .5em;
  }
  
  #navbar-main .sub-section .nav-item {
    padding-bottom: 1em;
    padding-top: 1em;
    border-bottom: solid 1px #486E9D;
    padding-left: 0;
  }
  
  #navbar-main .sub-section a {
    padding-right: 1em;
    line-height: .75em;
    margin-top: .5em;
    margin-bottom: .5em;
    color: #fff;
  }

  #navbar-main .sub-section a:hover {
    color: #b8b8b8;
    text-decoration: none;
  }
  
  .navbar-brand {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  nav.contextual-region {
    position: static;
  }

  #navbar-top {
    border-bottom: 1px solid #c6c6c6;
    font-size: medium;
    padding: 0;
  }
  
  #navbar-top a.navlink {
    color: #8d8d8d;
  }