{#
/**
 * @file
 * Big chunk of hardcoded HTML to build the custom mega menu.
 * Eventually, this will be refactored to use the Drupal menu items.
 *
 */
#}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
<ul class="clearfix nav navbar-nav">
    <li class="nav-item dropdown">
        <a href="/using-the-library" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">Using the Library</a>
        <div class="dropdown-menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <ul class="nav flex-column sub-section">
                            <li class="nav-item">
                                <a href="/using-the-library/borrow-renew-return">Borrow, Renew, Return</a>
                            </li>
                            <li class="nav-item">
                                <a href="/using-the-library/getting-a-library-card">Getting a Library Card</a>
                            </li>
                            <li class="nav-item">
                                <a href="/using-the-library/borrowing-privileges">Borrowing Privileges</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <ul class="nav flex-column sub-section">
                            <li class="nav-item">
                                <a href="#">Services</a>
                            </li>
                            <li class="nav-item">
                                <a chref="/using-the-library/interlibrary-loan">Interlibrary Loan</a>
                            </li>
                            <li class="nav-item">
                                <a href="/using-the-library/spaces">Spaces</a>
                            </li>
                            <li class="nav-item">
                                <a href="/using-the-library/disability-services">Disability Services</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <ul class="nav flex-column sub-section">
                            <li class="nav-item">
                                <a href="/using-the-library/technology-equipment">Technology &amp; Equipment</a>
                            </li>
                            <li class="nav-item">
                                <a href="/using-the-library/technology-equipment/print-copy-scan">Print, Copy, Scan</a>
                            </li>
                            <li class="nav-item">
                                <a href="/using-the-library/technology-equipment/equipment">Equipment</a>
                            </li>
                            <li class="nav-item">
                                <a href="/using-the-library/technology-equipment/software-on-public-computers">Public Computers</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3 header-sidebar">
                        <a href="">
                            <img src="/themes/custom/ucr_library/images/Rivera_800x452.jpg" alt="" class="img-fluid">
                        </a>
                        <p class="fact-header mt-3">
                            <strong>Did you know?</strong>
                        </p>
                        <p class="fact text-white">A short snippet about the UCR Library goes here.</p>
                    </div>
                </div>
            </div>

        </div>
    </li>
    <li class="nav-item dropdown">
        <a href="/research-services" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">Research services</a>
        <div class="dropdown-menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <ul class="nav flex-column sub-section">
                            <li class="nav-item">
                                <a href="/research-services/research-fundamentals">Research Fundamentals</a>
                            </li>
                            <li class="nav-item">
                                <a href="/research-services/research-fundamentals">Creativity and Discovery</a>
                            </li>
                            <li class="nav-item">
                                <a href="/research-services/databases">Databases</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <ul class="nav flex-column sub-section">
                            <li class="nav-item">
                                <a href="/research-services/subject-guides">Subject Guides</a>
                            </li>
                            <li class="nav-item">
                                <a href="/research-services/collection-strategists">Collection Strategists</a>
                            </li>
                            <li class="nav-item">
                                <a chref="/research-services/managing-your-data">Managing Your Data</a>
                            </li>

                        </ul>
                    </div>

                    <div class="col-md-3">
                        <ul class="nav flex-column sub-section">
                            <li class="nav-item">
                                <a href="/research-services/grant-support">Grant Support</a>
                            </li>
                            <li class="nav-item">
                                <a href="/research-services/publish-your-research">Publish Your Research</a>
                            </li>
                            <li class="nav-item">
                                <a href="/research-services/ask-a-librarian">Ask Us</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3 header-sidebar">
                        <p class="fact-header mt-3">
                            <strong>How do I find?</strong>
                        </p>
                        <ul class="links">
                            <li>
                                <a href="/research-services/how-do-i-find/how-do-i-find-articles-journals">Articles &amp; Journals</a>
                            </li>
                            <li>
                                <a href="/research-services/how-do-i-find/how-do-i-find-books-e-books">Books &amp; E-books</a>
                            </li>
                            <li>
                                <a href="/research-services/how-do-i-find/how-do-i-find-course-reserves">Course Reserves</a>
                            </li>
                            <li>
                                <a href="/research-services/how-do-i-find/datasets-statistics">Datasets &amp; Statistics</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </li>
    <li class="nav-item dropdown">
        <a href="/collections" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">Collections</a>
        <div class="dropdown-menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 pt-4">
                        <a class="image-link" href="/collections/notable-collections">
                            <img src="/themes/custom/ucr_library/images/eaton2.jpg" alt="" class="img-fluid">
                            <div class="caption">
                                Notable Collections&nbsp;&nbsp;<i class="fa fa-angle-right"></i>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 pt-4">
                        <a class="image-link" href="/collections/collecting-areas">
                            <img src="/themes/custom/ucr_library/images/RareBooksAndOtherSpecialCollections.jpg" alt="" class="img-fluid">
                            <div class="caption">
                                Collecting Areas&nbsp;&nbsp;<i class="fa fa-angle-right"></i>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 pt-4">
                        <a class="image-link" href="/collections/suggest-a-book">
                            <img src="/themes/custom/ucr_library/images/costo_reading.jpg" alt="" class="img-fluid">
                            <div class="caption">
                                Suggest a Book&nbsp;&nbsp;<i class="fa fa-angle-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </li>
    <li class="nav-item dropdown">
        <a href="/instructional-support" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">Instructional support</a>
        <div class="dropdown-menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <ul class="nav flex-column sub-section">
                            <li class="nav-item">
                                <a href="/instructional-support/library-instruction-sessions">Library Instruction Sessions</a>
                            </li>
                            <li class="nav-item">
                                <a href="/instructional-support/tours-and-orientations">Tours and Orientation</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <ul class="nav flex-column sub-section">
                            <li class="nav-item">
                                <a href="/instructional-support/put-materials-on-course-reserves">Put Materials on Course Reserves</a>
                            </li>
                            <li class="nav-item">
                                <a href="/instructional-support/affordable-course-materials-initiative">Affordable Course Materials Initiative</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <ul class="nav flex-column sub-section">
                            <li class="nav-item">
                                <a href="/instructional-support/copyright-teaching">Copyright &amp; Teaching</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3 header-sidebar">
                        <p class="fact-header mt-3">
                            <strong>Did you know?</strong>
                        </p>
                        <p class="fact text-white">A short snippet about the UCR Library goes here.</p>

                    </div>
                </div>
            </div>

        </div>
    </li>
    <li class="nav-item dropdown">
        <a href="/libraries" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">Libraries</a>
        <div class="dropdown-menu">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <a class="image-link" href="/libraries/tomas-rivera-library">
                                <img src="/themes/custom/ucr_library/images/Rivera_800x452.jpg" alt="" class="img-fluid">
                                <div class="card-title">
                                    Tomás Rivera Library
                                </div>
                            </a>
                            <div class="card-body">
                                <p>This, that, and the other thing. You'll find it here.</p>
                                <div class="library-info">
                                    <div class="info-link align-middle">
                                        {{ drupal_block('alma_today_hours_block', {library_code: 'RIVERA'}) }}
                                    </div>
                                    <div class="info-link">
                                        <a href="">Spaces<span class="badge badge-success">AVAILABLE</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <a class="image-link" href="/libraries/orbach-science-library">
                                <img src="/themes/custom/ucr_library/images/orbach.jpg" alt="" class="img-fluid">
                                <div class="card-title">
                                    Orbach Science Library
                                </div>
                            </a>
                            <div class="card-body">
                                <p>This, that, and the other thing. You'll find it here.</p>
                                <div class="library-info">
                                    <div class="info-link align-middle">
                                        {{ drupal_block('alma_today_hours_block', {library_code: 'ORBACH'}) }}
                                    </div>
                                    <div class="info-link">
                                        <a href="">Spaces<span class="badge badge-success">AVAILABLE</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <a class="image-link" href="/libraries/music-library">
                                <img src="/themes/custom/ucr_library/images/music.jpg" alt="" class="img-fluid">
                                <div class="card-title">
                                    Music Library
                                </div>
                            </a>
                            <div class="card-body">
                                <p>This, that, and the other thing. You'll find it here.</p>
                                <div class="library-info">
                                    <div class="info-link align-middle">
                                        {{ drupal_block('alma_today_hours_block', {library_code: 'MUSIC'}) }}
                                    </div>
                                    <div class="info-link">
                                        <a href="">Spaces<span class="badge badge-success">AVAILABLE</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <a class="image-link" href="/libraries/special-collections-university-archives">
                                <img src="/themes/custom/ucr_library/images/scua.jpg" alt="" class="img-fluid">
                                <div class="card-title">
                                    Special Collections &amp; University Archives
                                </div>
                            </a>
                            <div class="card-body">
                                <p>This, that, and the other thing. You'll find it here.</p>
                                <div class="library-info">
                                    <div class="info-link align-middle">
                                        {{ drupal_block('alma_today_hours_block', {library_code: 'SPECIALCOL'}) }}
                                    </div>
                                    <div class="info-link">
                                        <a href="">Spaces<span class="badge badge-success">AVAILABLE</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a href="/about" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">About</a>
        <div class="dropdown-menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <ul class="nav flex-column sub-section">
                            <li class="nav-item">
                                <a href="/about/hours">Hours</a>
                            </li>
                            <li class="nav-item">
                                <a href="/about/directory/department_services">Directory</a>
                            </li>
                            <li class="nav-item">
                                <a href="/about/news">News</a>
                            </li>
                            <li class="nav-item">
                                <a href="/about/publications/newsletters">Publications</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <ul class="nav flex-column sub-section">
                            <li class="nav-item">
                                <a href="/about/exhibits">Exhibits</a>
                            </li>
                            <li class="nav-item">
                                <a href="/about/workshops-events">Workshops &amp; Events</a>
                            </li>
                            <li class="nav-item">
                                <a chref="/about/faqs">FAQs</a>
                            </li>
                            <li class="nav-item">
                                <a chref="/about/policies">Policies</a>
                            </li>

                        </ul>
                    </div>

                    <div class="col-md-3">
                        <ul class="nav flex-column sub-section">
                            <li class="nav-item">
                                <a href="/about/jobs">Jobs</a>
                            </li>
                            <li class="nav-item">
                                <a href="/about/directions-parking-mailing-address">Directions, Parking, Mailing Address</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-highlight" href="/about/giving-to-the-library">Giving to the Library</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3 header-sidebar">
                        <p class="fact-header mt-3">
                            <strong>What's coming up?</strong>
                        </p>
                        <p class="fact text-white">A short list of coming events goes here.</p>
                    </div>
                </div>
            </div>

        </div>
    </li>
</ul>