
<div class="cell small-order-3 medium-order-3 main-nav-bar">
    <div class="grid-container" id="main-menu-container" data-animate="fade-in fade-out">
        <div class="grid-x">
            {% if content %} {{ content }} {% endif %}
        </div>
    </div>
</div>
