<div class="cell small-order-1 medium-order-2 masthead-container">
    <div class="grid-container">
        <div class="grid-x align-middle">
            {% if content %} {{ content }} {% endif %}
        </div>
    </div>
</div>
