<div class="cell small-order-2 medium-order-1 audience-container">
    <div class="grid-container audience-menu-bar">
        <div class="grid-x align-middle">
            {% if content %} {{ content }} {% endif %}
            <div class="cell shrink hide-for-medium" data-responsive-toggle="main-menu-container" data-hide-for="medium">
                <button class="mdi mdi-menu button mobile-menu-expander" id="mobile-menu-expander" type="button" data-toggle="main-menu-container">
                </button>
            </div>
        </div>
    </div>
</div>
